flows.json
[{"id":"a4611836.0c5fc8","type":"http in","z":"f2e11344.30869","name":"","url":"/fashion","method":"get","upload":false,"swaggerDoc":"","x":70,"y":220,"wires":[["7b4b095d.a44b18"]]},{"id":"7b4b095d.a44b18","type":"switch","z":"f2e11344.30869","name":"Check image param","property":"payload.imageurl","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":184,"y":282,"wires":[["e3e68c79.b5fea"],["6e56b3ee.889e8c"]]},{"id":"e3e68c79.b5fea","type":"template","z":"f2e11344.30869","name":"Get Image URL","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n<head><title>Watson Visual Recognition on Node-RED</title></head>\n<body>\n<h1>Welcome to the Watson Visual Recognition Demo on Node-RED</h1>\n<form  action=\"{{req._parsedUrl.pathname}}\">\n    <img src=\"https://rukminim1.flixcart.com/image/714/857/k65d18w0/shirt/p/4/t/48-bfrybluesht02ab-being-fab-original-imaecvnxndp3zbdn.jpeg?q=50\" height='100'/>\n    <img src=\"https://images-na.ssl-images-amazon.com/images/I/815O9y5VD%2BL._SL1500_.jpg\" height='100'/>\n   \n    <br/>Drag and drop any of the images above into the text field or enter any image URL:<br/>\n    <input type=\"text\" name=\"imageurl\"/>\n    <input type=\"submit\" value=\"Analyze\"/>\n</form>\n</body>\n</html>","x":478,"y":251,"wires":[["fe95b2e6.4d01b"]]},{"id":"6e56b3ee.889e8c","type":"change","z":"f2e11344.30869","name":"Extract img URL","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.imageurl","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":340,"wires":[["289d1b71.940724"]]},{"id":"fe95b2e6.4d01b","type":"http response","z":"f2e11344.30869","name":"HTTP Response","x":728,"y":285,"wires":[]},{"id":"289d1b71.940724","type":"visual-recognition-v3","z":"f2e11344.30869","name":"","vr-service-endpoint":"","image-feature":"classifyImage","lang":"en","x":452.5,"y":391.5,"wires":[["8c56d8ac.578c18","f13a5e4e.73ff4"]]},{"id":"f13a5e4e.73ff4","type":"template","z":"f2e11344.30869","name":"Report","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n<head><title>Watson Visual Recognition on Node-RED</title></head>\n<body>\n<h1>Node-RED Watson Visual Recognition Output</h1>\n<p>Analyzed image: {{payload}}<br/><img src=\"{{payload}}\" height='100'/></p>\n<table border='1'>\n    <thead><tr><th>Name</th><th>Score</th></tr></thead>\n{{#result.images.0.classifiers.0.classes}}\n  <tr><td><b>{{class}}</b></td><td><i>{{score}}</i></td></tr>\n{{/result.images.0.classifiers.0.classes}}\n</table>\n<form  action=\"{{req._parsedUrl.pathname}}\">\n    <input type=\"submit\" value=\"Try again\"/>\n</form>\n</body>\n</html>","x":573,"y":319,"wires":[["fe95b2e6.4d01b"]]},{"id":"8c56d8ac.578c18","type":"function","z":"f2e11344.30869","name":"get labels","func":"var labels = msg.result.images[0].classifiers[0].classes;\nmsg.payload = labels.map(function(i){\n   return i.class;\n});\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":395,"wires":[["4592fb.520f7d04"]]},{"id":"4592fb.520f7d04","type":"debug","z":"f2e11344.30869","name":"","active":true,"console":"false","complete":"payload","x":800,"y":369,"wires":[]}]